{
  "extends": "airbnb",
  "rules": {
    "indent": [2, 4, {"SwitchCase": 1}],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-no-bind": [0],
    "max-len": [0]
  },
  "globals": {
    "DEBUG": true
  }
}
