.players
    border-radius: 7px
    background: #363945
    overflow: hidden


.player
    border-bottom: 1px solid rgba(black, .4)
    padding: 15px
    position: relative

    &:last-child
        border-bottom: none

    &.add
        cursor: pointer
        font-weight: bold
        color: $playerInputTextColor

        button
            background-color: transparent
            color: $playerInputTextColor
            border-radius: 50%
            font-size: 22px
            border: 2px solid $playerInputTextColor
            width: 38px
            height: 38px
            margin-left: 10px
            background-color: $playerInputTextColor
            color: white
            transition: all .3s ease-in-out

            &:hover
                border: 2px solid $playerInputTextColor
                background-color: transparent
                color: $playerInputTextColor

    &:hover
        .player-delete
            display: block

.player-delete
    color: white
    cursor: pointer
    display: none
    position: absolute
    text-align: center
    top: 0
    width: 46px
    right: 0
    bottom: 0
    background-color: #e94b4f

    .player-delete-btn
        border: none
        font-size: 32px
        background-color: transparent
        color: white
        transform: rotate(45deg)
        margin: 1px 0 0 5px


.option-key
    margin-bottom: 10px
    text-align: center

.option-value
    text-align: center

    input
        background: #363945
        border: 1px solid black
        border-radius: 8px
        box-sizing: border-box
        color: white
        display: inline-block
        margin-bottom: 16px
        margin-left: 0
        padding: 7px
        width: 80%

.create-tourney-wrapper
    position: fixed
    bottom: 0
    background-color: #dedede
    text-align: center
    left: 130px
    right: 0
    padding: 25px

.create-tourney
    background: $playerInputTextColor
    border-radius: 8px
    box-sizing: border-box
    cursor: pointer
    font-size: 1em
    padding: 15px 25px
    text-align: center
    text-transform: uppercase
    letter-spacing: .05em
    color: white
    display: inline-block
    margin-bottom: 15px

.duration
    font-size: .8em
    text-align: center
